<nav>
  <ul>
    <li class="dropdown">
      <a href="index.html" class="dropbtn">Welcome</a>
    </li>
    <li class="dropdown">
      <a class="dropbtn">Hakka Mauritians</a>
      <div class="dropdown-content">
        <a href="/hakka_diaspora/">Hakka Diaspora</a>
        <a href="#">Clans & Surnames</a>
        <a href="#">From Mauritius to Meixian</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropbtn">Your Stories</a>
      <div class="dropdown-content">
        <a href="#">Laval Chan</a>
        <a href="#">Chris Lee</a>
        <a href="#">Valerie Yeung</a>
        <a href="#">Lucy Chan</a>
        <a href="#">Mike Tsang</a>
        <a href="#">Peter Lau-Chun</a>
        <a href="#">Roland Tsang Kwai Kew</a>
        <a href="#">Moiyan to Mauritius</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropbtn">Other Hakka Diaspora</a>
      <div class="dropdown-content">
        <a href="#">Hakka Indians</a>
        <a href="#">From Border to Border</a>
        <a href="#">Refeeq Ellias</a>
        <a href="#">Life in Moiyan</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropbtn">Language</a>
      <div class="dropdown-content">
        <a href="#">Language on this website</a>
        <a href="#">Mandarin, Standard Chinese & Hakka</a>
        <a href="#">Chinese Characters</a>
        <a href="#">Reading Pinyin</a>
        <a href="#">Moiyan or Meixian?</a>
        <a href="#">Hakka Romanization</a>
        <a href="#">Funny Hakka in Mauritius</a>
        <a href="#">Eh, eh & eh!</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropbtn">History</a>
      <div class="dropdown-content">
        <a href="#">Basel Mission Archives</a>
        <a href="#">People</a>
        <a href="#">Town</a>
        <a href="#">River</a>
        <a href="#">Rural Life</a>
        <a href="#">Schools</a>
        <a href="#">BM - Religious</a>
        <a href="#">BM - Other</a>
        <a href="#">BM - Hospital</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropbtn">Food</a>
      <div class="dropdown-content">
        <a href="#">Noodles & Dumplings</a>
        <a href="#">Rice</a>
        <a href="#">Meat</a>
        <a href="#">Poultry & Eggs</a>
        <a href="#">Fish</a>
        <a href="#">Tofu</a>
        <a href="#">Vegetables - Growing</a>
        <a href="#">Vegetables - Raw & Cooked</a>
        <a href="#">Vegetables - Preserved</a>
        <a href="#">Roots & Tubers</a>
        <a href="#">Fungi</a>
        <a href="#">Fruit</a>
        <a href="#">Fried Savoury Snacks</a>
        <a href="#">Miscellaneous Food</a>
        <a href="#">Food & Media</a>
        <a href="#">Let's Eat!</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropbtn">Sights - In Town</a>
      <div class="dropdown-content">
        <a href="#">Old Town</a>
        <a href="#">Hakka Museum</a>
        <a href="#">Temple & Pagoda</a>
        <a href="#">Jiaying University</a>
        <a href="#">Meixian People's Square</a>
        <a href="#">The Hakka Park</a>
        <a href="#">Guidu Park</a>
        <a href="#">Plum Blossom</a>
        <a href="#">Leafy Streets</a>
        <a href="#">Out and About</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropbtn">Further Afield</a>
      <div class="dropdown-content">
        <a href="#">Yannanfei</a>
        <a href="#">The Pan Home</a>
        <a href="#">Nankou Town</a>
        <a href="#">Pingyuan County</a>
        <a href="#">Yun Shui Yao</a>
        <a href="#">Tulou of Fujian</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropbtn">Architecture</a>
      <div class="dropdown-content">
        <a href="#">Tulou</a>
        <a href="#">Hakka Stone Pens</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="health.html" class="dropbtn">Health</a>
      <div class="dropdown-content">
      </div>
    </li>
    <li class="dropdown">
      <a href="visit.html" class="dropbtn">Visit</a>
      <div class="dropdown-content">
        <a href="#">Moiyan by air</a>
        <a href="#">Moiyan by rail</a>
        <a href="#">Transport within Moiyan</a>
        <a href="#">Accomodation</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="contact.html" class="dropbtn">Contact</a>
      <div class="dropdown-content">
        <a href="#">Email</a>
        <a href="#">Socials</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropbtn">About</a>
      <div class="dropdown-content">
        <a href="#">Background</a>
        <a href="#">The Journey Back Home</a>
      </div>
    </li>
  </ul>
</nav>
