<nav>
  <ul>
    <li class="dropdown">
      <a href="{{ '/' | relative_url }}" class="dropbtn">Welcome</a>
    </li>
    <li class="dropdown">
      <a class="dropbtn">Hakka Mauritians</a>
      <div class="dropdown-content">
        <a href="{{ '/hakka-mauritians/hakka_diaspora/' | relative_url }}">Hakka Diaspora</a>
        <a href="{{ '/hakka-mauritians/clans-and-surnames/' | relative_url }}">Clans & Surnames</a>
        <a href="{{ '/hakka-mauritians/from-mauritius-to-meixian/' | relative_url }}">From Mauritius to Meixian</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropbtn">Your Stories</a>
      <div class="dropdown-content">
        <a href="{{ '/your-stories/laval-chan/' | relative_url }}">Laval Chan</a>
        <a href="{{ '/your-stories/chris-lee/' | relative_url }}">Chris Lee</a>
        <a href="{{ '/your-stories/valerie-yeung/' | relative_url }}">Valerie Yeung</a>
        <a href="{{ '/your-stories/lucy-chan/' | relative_url }}">Lucy Chan</a>
        <a href="{{ '/your-stories/mike-tsang/' | relative_url }}">Mike Tsang</a>
        <a href="{{ '/your-stories/peter-lau-chun/' | relative_url }}">Peter Lau-Chun</a>
        <a href="{{ '/your-stories/roland-tsang-kwai-kew/' | relative_url }}">Roland Tsang Kwai Kew</a>
        <a href="{{ '/your-stories/moiyan-to-mauritius/' | relative_url }}">Moiyan to Mauritius</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropbtn">Other Hakka Diaspora</a>
      <div class="dropdown-content">
        <a href="{{ '/other-hakka-diaspora/hakka-indians/' | relative_url }}">Hakka Indians</a>
        <a href="{{ '/other-hakka-diaspora/from-border-to-border/' | relative_url }}">From Border to Border</a>
        <a href="{{ '/other-hakka-diaspora/refeeq-ellias/' | relative_url }}">Refeeq Ellias</a>
        <a href="{{ '/other-hakka-diaspora/life-in-moiyan/' | relative_url }}">Life in Moiyan</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropbtn">Language</a>
      <div class="dropdown-content">
        <a href="{{ '/language/language-on-this-website/' | relative_url }}">Language on this website</a>
        <a href="{{ '/language/mandarin-standard-chinese-hakka/' | relative_url }}">Mandarin, Standard Chinese & Hakka</a>
        <a href="{{ '/language/chinese-characters/' | relative_url }}">Chinese Characters</a>
        <a href="{{ '/language/reading-pinyin/' | relative_url }}">Reading Pinyin</a>
        <a href="{{ '/language/moiyan-or-meixian/' | relative_url }}">Moiyan or Meixian?</a>
        <a href="{{ '/language/hakka-romanization/' | relative_url }}">Hakka Romanization</a>
        <a href="{{ '/language/funny-hakka-in-mauritius/' | relative_url }}">Funny Hakka in Mauritius</a>
        <a href="{{ '/language/eh-eh-eh/' | relative_url }}">Eh, eh & eh!</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropbtn">History</a>
      <div class="dropdown-content">
        <a href="{{ '/history/basel-mission-archives/' | relative_url }}">Basel Mission Archives</a>
        <a href="{{ '/history/people/' | relative_url }}">People</a>
        <a href="{{ '/history/town/' | relative_url }}">Town</a>
        <a href="{{ '/history/river/' | relative_url }}">River</a>
        <a href="{{ '/history/rural-life/' | relative_url }}">Rural Life</a>
        <a href="{{ '/history/schools/' | relative_url }}">Schools</a>
        <a href="{{ '/history/bm-religious/' | relative_url }}">BM - Religious</a>
        <a href="{{ '/history/bm-other/' | relative_url }}">BM - Other</a>
        <a href="{{ '/history/bm-hospital/' | relative_url }}">BM - Hospital</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropbtn">Food</a>
      <div class="dropdown-content">
        <a href="{{ '/food/noodles-dumplings/' | relative_url }}">Noodles & Dumplings</a>
        <a href="{{ '/food/rice/' | relative_url }}">Rice</a>
        <a href="{{ '/food/meat/' | relative_url }}">Meat</a>
        <a href="{{ '/food/poultry-eggs/' | relative_url }}">Poultry & Eggs</a>
        <a href="{{ '/food/fish/' | relative_url }}">Fish</a>
        <a href="{{ '/food/tofu/' | relative_url }}">Tofu</a>
        <a href="{{ '/food/vegetables-growing/' | relative_url }}">Vegetables - Growing</a>
        <a href="{{ '/food/vegetables-raw-cooked/' | relative_url }}">Vegetables - Raw & Cooked</a>
        <a href="{{ '/food/vegetables-preserved/' | relative_url }}">Vegetables - Preserved</a>
        <a href="{{ '/food/roots-tubers/' | relative_url }}">Roots & Tubers</a>
        <a href="{{ '/food/fungi/' | relative_url }}">Fungi</a>
        <a href="{{ '/food/fruit/' | relative_url }}">Fruit</a>
        <a href="{{ '/food/fried-savoury-snacks/' | relative_url }}">Fried Savoury Snacks</a>
        <a href="{{ '/food/miscellaneous-food/' | relative_url }}">Miscellaneous Food</a>
        <a href="{{ '/food/food-media/' | relative_url }}">Food & Media</a>
        <a href="{{ '/food/lets-eat/' | relative_url }}">Let's Eat!</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropbtn">Sights - In Town</a>
      <div class="dropdown-content">
        <a href="{{ '/sights/old-town/' | relative_url }}">Old Town</a>
        <a href="{{ '/sights/hakka-museum/' | relative_url }}">Hakka Museum</a>
        <a href="{{ '/sights/temple-pagoda/' | relative_url }}">Temple & Pagoda</a>
        <a href="{{ '/sights/jiaying-university/' | relative_url }}">Jiaying University</a>
        <a href="{{ '/sights/meixian-peoples-square/' | relative_url }}">Meixian People's Square</a>
        <a href="{{ '/sights/hakka-park/' | relative_url }}">The Hakka Park</a>
        <a href="{{ '/sights/guidu-park/' | relative_url }}">Guidu Park</a>
        <a href="{{ '/sights/plum-blossom/' | relative_url }}">Plum Blossom</a>
        <a href="{{ '/sights/leafy-streets/' | relative_url }}">Leafy Streets</a>
        <a href="{{ '/sights/out-and-about/' | relative_url }}">Out and About</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropbtn">Further Afield</a>
      <div class="dropdown-content">
        <a href="{{ '/further-afield/yannanfei/' | relative_url }}">Yannanfei</a>
        <a href="{{ '/further-afield/the-pan-home/' | relative_url }}">The Pan Home</a>
        <a href="{{ '/further-afield/nankou-town/' | relative_url }}">Nankou Town</a>
        <a href="{{ '/further-afield/pingyuan-county/' | relative_url }}">Pingyuan County</a>
        <a href="{{ '/further-afield/yun-shui-yao/' | relative_url }}">Yun Shui Yao</a>
        <a href="{{ '/further-afield/tulou-of-fujian/' | relative_url }}">Tulou of Fujian</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropbtn">Architecture</a>
      <div class="dropdown-content">
        <a href="{{ '/architecture/tulou/' | relative_url }}">Tulou</a>
        <a href="{{ '/architecture/hakka-stone-pens/' | relative_url }}">Hakka Stone Pens</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="{{ '/health/' | relative_url }}" class="dropbtn">Health</a>
      <div class="dropdown-content">
      </div>
    </li>
    <li class="dropdown">
      <a href="{{ '/visit/' | relative_url }}" class="dropbtn">Visit</a>
      <div class="dropdown-content">
        <a href="{{ '/visit/moiyan-by-air/' | relative_url }}">Moiyan by air</a>
        <a href="{{ '/visit/moiyan-by-rail/' | relative_url }}">Moiyan by rail</a>
        <a href="{{ '/visit/transport-within-moiyan/' | relative_url }}">Transport within Moiyan</a>
        <a href="{{ '/visit/accomodation/' | relative_url }}">Accomodation</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="{{ '/contact/' | relative_url }}" class="dropbtn">Contact</a>
      <div class="dropdown-content">
        <a href="{{ '/contact/email/' | relative_url }}">Email</a>
        <a href="{{ '/contact/socials/' | relative_url }}">Socials</a>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropbtn">About</a>
      <div class="dropdown-content">
        <a href="{{ '/about/background/' | relative_url }}">Background</a>
        <a href="{{ '/about/the-journey-back-home/' | relative_url }}">The Journey Back Home</a>
      </div>
    </li>
  </ul>
</nav>
